html,
body {
  font-size: 10px;
  font-family: "Arial", sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: #f4f5f8;
  min-height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c5c5c5;
}
header h1 {
  color: black;
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 5rem;
  text-align: center;
}
header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 50px;
  font-size: 2rem;
  color: brown;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: aqua;
  outline: none;
  margin-bottom: 50px;
}
header button:hover {
  background-color: brown;
  color: aqua;
}
header button:active {
  background-color: orange;
  color: red;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.field {
  margin: 50px auto;
  width: 700px;
  min-height: 700px;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rows {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.white-field {
  background-color: burlywood;
}

.black-field {
  background-color: darkred;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.chess-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
}

.button-figures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
  color: brown;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: aqua;
  outline: none;
  margin-bottom: 50px;
}
.button-figures:hover {
  background-color: brown;
  color: aqua;
}
.button-figures:active {
  background-color: orange;
  color: red;
}

/*# sourceMappingURL=style.css.map */